
header{
    width: auto;
}

#logo{
    width:auto;
    
}

#nav-bar ul{
    padding: 0px;
    margin: 13px 0px 9px 0px;
}

#nav-bar ul li a{
    padding: 7px 15px;
    font-size: 1.3rem;
}

#home img{
    position: relative;
    width:291%;
    height: auto;
    
}

#bottom-container{
    background-color: #d64c31; 
    position: relative;
    bottom: 69px;
    left: 81%;
    width: 210%;
    height: auto;
    
}

#bottom-container h1{
    margin: 0px 0px 0px 41px;
    padding: 20px 0px 0px 12px;
    font-size: 6.0rem;
}

#bottom-container p{
    margin-left: 61px;
    margin-top: 0px;
    font-size: 1.3em; 
    padding-right: 40px;
    padding-bottom: 27px;
    line-height: 35px;
}

#section1{
    margin: 0px 20px 0px 0px;
    width: 291%;
    padding: 0px 0px;
}

#heading{
    padding: 0px 28px 6px;
    font-size: 5.5em;

}

#containerbig{
    margin: 0px 12px 35px 20px;
}

#section2{
    width: 292%;
    padding: 0px 0px;    
    
}

.heading2{
    font-size:34px;
    line-height: 35px;
}

.text{
    font-size:20px;
    line-height: 35px;

}

.text0{
    font-size:20px;
    line-height: 35px;
}

.content{
    padding: 5px 34px;
}

.content0{
    padding: 15px 34px;
}

.content1{
    padding: 0px 34px;
    
}

#heading3{
    padding: 22px 25px;
    font-size: 5.5em;
}

.container3{
    margin: 0px 16px;
 
 }

 .date2{
    font-size: 18px;
}

.heading2{
    font-size:28px;
    line-height: 35px;
}

.text2{
    font-size:16px;
    line-height: 35px;

}

#bottom{
    height: auto;
    width: 292%;
    position: relative;
    
}

#bottom .contact{
    right: 28px;
    height: 109%;
}

.content4{
    padding-top: 12px;
}

.content3{
    padding: 20px 32px;
}

#logo2{
    margin-top: 40px;
}

.heading4{
    font-size: 28px;

}

.text3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 35px;

}

.content3 ul li a{
    padding: 5px 14px;
    font-size: 1.3em;
}
 
#bottom-1{
    font-size: 0.9em;

}

.heading5{
    padding-left: 30px;
    font-size: 1.83m;
}

.form-item{
    padding: 0px 10px 18px 32px
}

#form-text{
    padding:7px 0px 7px 15px;
    font-size: 1em;

}

#btn3{
    margin: -10px 31px;
    padding: 6px 7px;
    font-size: 1em;
    }

.text4{
    margin: 23px 31px;
    font-size: 1em;
    line-height: 35px;
}

.fa-icons{
    padding-inline-start: 20px;
}

.fa-icons li{
    list-style: none;
    padding: 0px 10px;
}