body{
    margin:0;
    padding: 0;
    
}
#nav-bar{
    display: flex;
    align-items: center;
}

#logo {
    height:50%;
    margin: 42px 44px 19px 65px;
    width:auto;
}

#nav-bar ul{
    display: flex;
    padding: 0px;
    margin: 30px 0px 10px 0px;
}

#nav-bar ul li{
    list-style: none;
    
}
#nav-bar ul li a{
    display: block;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #4a455c;
    font-family: 'Montserrat';
}

#nav-bar ul li a:hover{
    color: #d64c31; 
}

#sectiontop{
    position: relative;
    width: 100%;
    height:auto;
}

#home img{
    position: relative;
    width:100%;
    
}
#bottom-container{
background-color: #d64c31; 
position: relative;
bottom: 100px;
left: 25%;
width: 75%;
height: auto;

}

#bottom-container h1{
    margin: 0px 0px 0px 30px;
    padding: 23px 0px 6px 30px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;
    font-size: 110px;
    color: #ffffff;
}

#bottom-container p{
    margin-left: 61px;
    margin-top: 0px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left; 
    padding-right: 40px;
    padding-bottom: 33px;
    line-height: 38px;
}

#section1{
    margin: 0px 20px 60px;
}

#heading{
    padding: 0px 28px 6px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 110px;
    font-weight: lighter;
    color: #4a455c;
    margin-block-start: 0.0em;
    margin-block-end: 0.1em;
    margin-bottom: 19px;

}
#container{
    display: flex;
   
}
#containerbig{
    display: flex;
    margin: 0px 20px;
}

#container1{
    width: 261%
}

.box{   
    margin:0px 14px;
    width: 100%;

}

.box img{
    width: 100%;
    height: auto;
    display: block;
}
.content{
    background-color: #4a455c;
    color: #ffffff;
    padding: 5px 30px;
    height: auto;
}
.content p{
    line-height: 35px;
}
    
#div1{
    width: 97%;
    margin:10px 0px 10px 12px;
}
#div1 img{
    width: 100%;
    height: auto;
    display: block;
}

#div1{
    margin: 28px 10px;
}

#div2{
    margin: 0px 20px;
    width: 122%;
}

#div2 img{
    width: 100%;
    height: auto;
    display: block;
}


#aboutus{
    width: 100%;
    height: auto;
}

.content0{
    background-color: #7c7d98;
    padding: 15px 30px;
    color: #ffffff;
    width: auto;
}

.date{
    font-family:'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #fff0e7;
    margin-bottom: 0px;
}

.heading1{
    font-family: 'Montserrat' , sans-serif;
    font-size:38px;
    font-weight: 500;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}

.heading0{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: #fff0e7;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    color: #ffffff;
}

.text0{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    line-height: 35px;
    font-size:20px;
}  


.btn{
    padding: 15px 20px;
    background-color: #ee5f0c; 
    color:  #fff0e7;
    font-family: 'Montserrat', sans-serif;
    box-shadow: none;
    border-style: none;
    font-size: 22px;
    margin-bottom: 60px;

}

.btn:hover{
    background-color: #ffffff;
    color: #d64c31;
}

#section2{
    background-color: #fff0e7;
    padding: 0px 37px 40px 37px;    
    
}
.container3{
   display: flex;
   padding: -20px 38px;
   margin: 0px 0px;
   background-color: #fff0e7;

}
.box2{
  
    margin: 0px 15px 62px;
    background-color: #ffffff;
    width: 100%;
}

.box2 img{
    width: 100%;
    height: auto;
}
.content1{
    padding: 0px 30px;
    
}

.content1 p{
    line-height: 35px;
}

#heading3{
    font-family: 'Cormorant Garamond', serif;
    padding: 22px 21px;
    font-size: 90px;
    font-weight: 200;
    color: #4a455c;
    margin-bottom: 0px;
    margin-block-start: 0.13em;
    margin-block-end: 0.13em;

}

.date2{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #4a455c;
    margin-block-end: 0.33em;
   
    
}

.heading2{
    font-family: 'Montserrat', sans-serif;
    color: #d64c31;
    font-size:38px;
    font-weight: 500;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}

.text2{
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    color: #4a455c;

}
.btn2{
    padding: 15px 20px;
    border: 1px solid #d64c31;
    background-color: #ffffff;
    color: #4a455c;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-bottom: 38px;
}

.btn2:hover{
    background-color: #ee5f0c;
    color:  #fff0e7;
}


#bottom{
    height: auto;
    width: auto;
    position: relative;
    
}

.content3{
    background-color: #d64c31;
    padding: 20px 58px 20px 53px;
    color: #ffffff;
}

#logo2{
    margin-top: 40px;
}

.heading4{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 30px;
    margin-block-end: 0.0em;

}

.text3{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    line-height: 35px;
    margin-block-start: 0.5em;

}

.content3 ul{
    display: flex;
    margin-inline-start: -15px;
    padding: 0px 0px;
}

.content3 ul li{
    list-style: none;
    
}
    
.content3 ul li a{
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #ffffff;
}
 
.content3 ul li a:hover{
    color: #7c7d98;
}

#bottom-1{
    font-family: 'Montserrat', sans-serif;
    margin-block-end: 0em;
    margin-block-start: 2em;
    font-size: 18px;
    font-weight: bold;

}

#bottom .contact{
    background-color: #4a455c; 
    position: absolute;
    right: 50px;
    top: -34.5px;
    height: 108.7%;
    width: 38%;
}

.content4{
    padding-top: 10px;
    padding-left: 0px;
}

.heading5{
    color: #ffffff;
    padding-top: 30px;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.form-item{
    padding: 0px 10px 18px 40px;
    
    
}

#form-text{
    padding:14px 44px 14px 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
    border-style: none;
    

}

#btn3{
    margin: 0px 40px;
    padding: 15px 25px;
    background-color: #ecba9b;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    border-style: none; 
    border-radius: 4px;
}

#btn3:hover{
    background-color: #ffffff;
    color: #d64c31;
    border-style: none;
}

.text4{
    margin: 23px 40px;
    color: #fff0e7;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 35px;
}

.fa-icons{
    display: flex;
    margin-right: 10px;
    margin-left: 0px;
    padding-inline-start: 20px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.fa-icons::before{
    display: none;
    margin-inline-start: -20px;
}
.fa-icons ul{
    margin: 20px 0px;
    margin-inline-start: -10px;
}
    

.fa-icons li{
    list-style: none;
    padding: 0px 20px;
}

    


